
  <div class="mb-3">
    <label for="nameDatabaseInput" class="form-label">Tên Database</label>
    <input type="text" class="form-control" id="nameDatabaseInput" aria-describedby="emailHelp" name="name_database">
  </div>
  <div class="mb-3">
    <label for="nameUserInput" class="form-label">Tên user</label>
    <input type="email" class="form-control" id="nameUserInput" aria-describedby="emailHelp" name= "name_user">
  </div>
     <div class="mb-3">
    <label for="hostDatabaseInput" class="form-label">Host Database</label>
    <input type="email" class="form-control" id="hostDatabaseInput" aria-describedby="emailHelp" name = "host_db">
  </div>
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword" name="passwd">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
