<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 edit_db">

        <div class="card shadow">
          <div class="card-body">
            <h4 class="card-title text-center mb-4">Tải Lên File .SQL</h4>

            <!-- Form Upload -->
            <form method="POST" enctype="multipart/form-data" action="/upload_db">
              <div class="mb-3">
                <label for="sqlFile" class="form-label">Chọn file .sql</label>
                <input class="form-control" type="file" id="sqlFile" name="sqlFile" accept=".sql" required>
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-primary">Tải Lên</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

